<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icon/icon-nova/favicon.ico" type="image/x-icon">
  
    <!-- chamada as media queries: -->
    <link rel="stylesheet" href="../styles/admin-home.css" media="all">
    <link rel="stylesheet" href="../styles/queries/admin-home.css">
    
    <!-- chamada ao javascript:-->
    <script type="module" src="../scripts/admin-home.js" defer></script>

    <title>FJU Macaé</title>
</head>
<body>
    
    <header>

        <div class="logo">
            <a href="login.html">Aberto das tribos</a>
        </div>

        <div class="reiniciar">
            <input type="button" value="Reiniciar Rally">
        </div>

    </header>

    <main>

        <div class="conteiner_dados">

            <h2>Painel de Atualizacao</h2>
            
            <div class="conteiner_tribos"></div>

        </div>

    </main>
    
    <footer>
        <p>A <strong>FJU</strong> é o lugar onde todos os jovens deveriam estar!</p>
    </footer>

</body>
</html>